*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.header{
    background-image: url(../images-video/constellations-2609647_1920.jpg);
    background-size: cover;
}

.home{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images-video/constellations-2609647_1920.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    height: 100px;
    /*position: absolute;*/
    display: flex;
    align-items: center;
    justify-content: safe;
}
.nav-link:hover{
    color: #ffffff;
}
.dropdown-menu{
    background-color:#212529;
}

.logo{
    margin-left: 70px;
    width: 150px;
}

.link li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 30px;
}

.link a{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: yellow;
    font-size: 27px;
    margin-left: 100px;
}

/*footer*/
.container{
    
    max-width: 1570px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 1em 0;
    height: 23vh;
}

.logosotto{
    width: 5em;
}

.footer-col{
    width: 25%;
    padding: 0 1em;
}
.form-frame{
    height: 25%;
}





