a{
    color:#ffffff !important;
}

/*header*/
.header{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images-video/constellations-2609647_1920.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    /*position: absolute;*/
    display: flex;
    align-items: center;
    justify-content: safe;
}

.nav-link:hover{
    color: #ffffff;
}

.dropdown-menu{
    background-color:#212529;
}

.logo{
    margin-left: 70px;
    width: 130px;
}

.link li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 30px;
}

.link a{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: yellow !important;
    font-size: 27px;
    margin-left: 100px;
}

/*home*/


body{
    background-color: black;
    /*
    background-image: url(../images-video/invaders_laterali_sx.png), url(../images-video/invaders_laterali_dx.png);
    background-repeat: repeat-y, repeat-y;
    background-position: left, right;*/
    
    
}

.col-8{
    margin-left: auto;
    margin-right: auto;
}

.container-fluid{
    text-align: left;
    /*margin-bottom: 10%;*/
}

h3{
    padding: 0.3em 0 0.4em 60px;
    color: yellow;
    border: solid 1px #e4007f;
    background: url(../images-video/logo_pink.png) no-repeat top left;
    background-size: contain;
}

h4{
    margin: 2em 0 0.5em;
    padding-left: 50px;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #e4007f;
    background: url(../images-video/pink_arrow.png) no-repeat left;
    clear: left;
}

p{
    margin-bottom: 50px;
    font-size: 1.1em;
    line-height: 1.6em;
    color: yellow;
}

/*footer*/
.footer{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images-video/constellations-2609647_1920.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;

}

.container{
    height: 100px;
    max-width: 1570px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.logosotto{
    width: 100px;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.form-frame{
    /*height: 25%;*/
}



